.box{
    position: relative;
    width: 300px;
    height: 400px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
    overflow: hidden;
    border-radius: 16px;
    gap: 20px;
}
.box::before{
    content: '';
    position: absolute;
    width: 200px;
    height: 500px;
    background: linear-gradient(#00ccff,#d500f9);
    animation: rotate 10s linear infinite;
}
.box::after{
    content: '';
    position: absolute;
    background: #000000;
    inset: 5px;
    border-radius: 16px;
}
@keyframes rotate{
    from {
        transform: rotate(0deg);

    }
    to{
        transform: rotate(360deg);
    }
}



.box img{
   width: 90%;
   z-index: 3;
}
.box button{
    height: 50px;
    width:90%;
    font-size: 16px;
    font-weight: 400;
    border-radius: 20px;
    z-index: 3;
    background: transparent;
   border: 2px ;
   border-style: solid;
    font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: rgb(233, 231, 231);
  cursor: pointer;
  
}