.icon{
    color: white;
    font-size: 30px;
}
.ft-sec{
    height:100%;
    background-color: #000;
    font-family: 'Times New Roman', Times, serif;
}

.ft-sec p{
    font-size: 24px;
    color: rgb(238, 237, 236);
}
.mark-con {
    display: flex;
    gap: 40px;
    padding: 10px 30px;
    justify-content: space-between;
    align-items: center;
}

.logos {
    width: 8%;
    display: flex;
    justify-content: space-between;
    margin-left: auto; 
}
.footer-logo{
    width: 120px;
    height: 100px;
    margin-left: 10px;
}

@media only screen and (max-width:600px) {
    .ft-sec p{
        font-size: 14px;
        padding: 10px;
    }
    .mark-con{
        padding: 0px 30px;
        justify-content: space-between;
        align-items: center;
    }
    .logos {
        padding: 0px 30px;

        display: flex;
        justify-content: space-between;
        margin-left: auto; 
    }
}
